/java/SpaceShip/nbproject/private/
/java/SpaceShip/build/
/java/Ponto/nbproject/private/
/java/T8/nbproject/private/
/java/T9/nbproject/private/
/java/T9/build/
/java/Heranca/nbproject/private/
/java/Heranca/build/
/java/ArrayList/ArrayListDemo/build/
/java/TestLogin/nbproject/private/
/java/SemIDE/nbproject/private/
/java/SemIDE/build/
/java/SemIDE/dist/
/java/JavaGUI/build/
/java/ExercicioComparator/build/
/java/T10/nbproject/private/